{% extends "base.html" %}


{% block head %}
<script>
    function on_back() {
        window.location.href='/choicer/{{ tg_id }}'
    }
</script>
{% endblock %}


{% block content %}
<div id="particle-container"></div>

<div class="start-gray-phone" onclick="on_back()">
    <div class="start-black-phone-gradient-top"></div>

    <div class="data-container">
        <div class="wrapper-questions">
            <div class="sebastian">
                <h3 class="sebastian-h3">Листай вправо, чтобы прочитать дальше, или нажми на экран чтобы выйти</h3>
            </div>
            <div class="container">
                
                {% for item in prediction_list %}
                    <section class="child">
                        <img src="{{ item['image'] }}" alt="" class="image-card-prediction">
                        <h3 class="prediction_card-text">{{ item['prediction_card'] }}</h3>
                        <div class="text-block" id="tb">
                            <h3 class="question-text">{{ item['question'] }}</h3>
                            <p class="prediction-answer">{{ item['prediction_answer'] }}</p>
                        </div>
                    </section>
                {% endfor %}
                
            </div>
        </div>
    </div>    
</div>

<style>
      /* Particle container. */
      #particle-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    * {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
    }
    .sebastian {
        position: absolute;
        width: 100%;
        top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sebastian-h3 {
        width: 80%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        text-shadow: rgba(255, 255, 255, .5) 0px 0px 20px;
        padding: 20px 20px;
        font-size: 18px;
        animation: appearation-sebastian-h3-anim 500ms ease-in-out 2500ms forwards;
        opacity: 0;
    }
    @keyframes appearation-sebastian-h3-anim {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    .start-gray-phone {
        width: 100vw;
        height: 100vh;
        background-size: 80px 80px;
        background-image: repeating-linear-gradient(0deg, #10102b, #10102b 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg,#10102b, #10102b 1px, transparent 1px, transparent 80px);
        background-color: #07091c;
    }
    .stars-bg {
        position: absolute;
        left: -500px;
        top: -200px;
        animation: scalable-bg-stars 60s ease infinite;
    }
    @keyframes scalable-bg-stars {
        0% {
            scale: 1;
            top: -200px;
        }
        50% {
            top: -250px;
            scale: .5
        }
        100% {
            scale: 1;
        }
    }
    .start-black-phone-gradient-top {
        background: linear-gradient(#000000, transparent);
        width: 100vw;
        height: 200px;
        position: absolute;
        z-index: 1;
        opacity: .6;
    }

    .data-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .container {
        font-family: sans-serif;
        scroll-snap-type: x mandatory;
        display: flex;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        height: 100%;
        min-width: 100%;
        position: relative;
    }
    .child {
        min-width: 100%;
        height: 100%;
        scroll-snap-align: start;
        text-align: center;
        /*overflow-y: hidden; !* отключает вертикальный скролл *!*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .image-card-prediction {
        width: 150px;
        margin-bottom: 10px;
    }
    .wrapper-questions {
        width: 100vw;
        height: 90vh;
        background-color: rgb(255, 255, 255, 0.2);
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .questions {
        display: flex;
        flex-direction: row;
    }
    .question-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .question {
        background-color: rgb(255, 255, 255, 1);
        width: 90vw;
        height: 85vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
    }
    .prediction-answer, .question-text {
        color: white;
        width: 90%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .prediction_card-text {
        color: white;
        width: 90%;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size: large;
        opacity: .8;
    }
</style>
<script>
    // Получаем нужный элемент
    let slide1 = document.getElementById("slide-1");
    let slide2 = document.getElementById("slide-2");
    let slide3 = document.getElementById("slide-3");

    slide1.classList.add("active")
    
    console.log(slide1.getBoundingClientRect().left)
    console.log(slide2.getBoundingClientRect().left)
    console.log(slide3.getBoundingClientRect().left)

    document.addEventListener('touchend', (event) => {
        setTimeout(() => check_time(), 300)
    })

    function check_time() {
        let slide1Left = slide1.getBoundingClientRect().left
        let slide2Left = slide2.getBoundingClientRect().left
        let slide3Left = slide3.getBoundingClientRect().left
        console.log(slide1Left)
        console.log(slide2Left)
        console.log(slide3Left)
        
        if (slide1Left < 200) {
            slide1.classList.add("active")
            slide2.classList.remove("active")
            slide3.classList.remove("active")
        }
        if (slide2Left < 200) {
            slide2.classList.add("active")
            slide1.classList.remove("active")
            slide3.classList.remove("active")
        }
        if (slide3Left < 200) {
            slide3.classList.add("active")
            slide2.classList.remove("active")
            slide1.classList.remove("active")
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    /* ---- particles.js config ---- */

    particlesJS("particle-container", {
    "particles": {
        "number": {
        "value": 100,
        "density": {
            "enable": true,
            "value_area": 800
        }
        },
        "color": {
        "value": "#ffffff"
        },
        "shape": {
        "type": "circle",
        "stroke": {
            "width": 0,
            "color": "#000000"
        },
        "polygon": {
            "nb_sides": 5
        },
        "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
        }
        },
        "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
        }
        },
        "size": {
        "value": 3,
        "random": true,
        "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
        }
        },
        "line_linked": {
        "enable": false,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
        },
        "move": {
        "enable": true,
        "speed": 1,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
        }
        }
    },
    "interactivity": {
        "detect_on": "canvas",
        "events": {
        "onhover": {
            "enable": false,
            "mode": "repulse"
        },
        "onclick": {
            "enable": false,
            "mode": "push"
        },
        "resize": true
        },
        "modes": {
        "grab": {
            "distance": 400,
            "line_linked": {
            "opacity": 1
            }
        },
        "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
        },
        "repulse": {
            "distance": 200,
            "duration": 0.4
        },
        "push": {
            "particles_nb": 4
        },
        "remove": {
            "particles_nb": 2
        }
        }
    },
    "retina_detect": true
    });
</script>

{% endblock %}
